In [1]:
# Import dependencies
import pandas as pd
import os
from pathlib import Path
import numpy as np
import matplotlib.pyplot as plt

# Import SQLAlchemy
import sqlalchemy
from sqlalchemy import create_engine
from config_sm import db_password
from sqlalchemy.ext.automap import automap_base


# Machine Learning imports.
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import sklearn
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
# Database connection to PgAdmin & SQL, convert to dataframe

db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/City_Surf_Project"
engine = create_engine(db_string).connect()

students_df= pd.read_sql_table('machine_learning_data', con=engine)

In [3]:
students_df['distinct_program_count'].value_counts()

1     131
2      42
3       6
4       2
16      1
10      1
7       1
5       1
Name: distinct_program_count, dtype: int64

In [4]:
# Write a function that converts distinc_program_count to 1 program or more than 1 program 
# repeat or not repeat
students_df["distinct_program_count"] = students_df["distinct_program_count"].replace({1:"one-time", 2: "return", 3:"return", 4:"return",
                                               5:"return", 7: "return", 16:"return", 10:"return"})
students_df['distinct_program_count'].value_counts()

one-time    131
return       54
Name: distinct_program_count, dtype: int64

In [24]:
students_df.rename(columns={"distinct_program_count": "likely_to_return?"})

,likely to return?,home_zip_code,grade_level_fy18_19,grade_level_fy19_20,csp_approx_enrollment_age,gender_Declined/Not Stated,gender_Female,gender_Male,gender_Transgender,city_Daly City,...,csp_enrollment_date_2019-04-18 00:00:00,csp_enrollment_date_2019-04-19 00:00:00,csp_enrollment_date_2019-05-10 00:00:00,csp_enrollment_date_2019-05-14 00:00:00,csp_enrollment_date_2019-05-30 00:00:00,csp_enrollment_date_2019-05-31 00:00:00,csp_enrollment_date_2019-06-03 00:00:00,csp_enrollment_date_2019-07-29 00:00:00,csp_enrollment_date_2019-08-05 00:00:00,csp_enrollment_date_2019-08-06 00:00:00
0,return,94103,9,10,14.6,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,one-time,94116,10,11,15.5,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,one-time,94110,10,11,17.2,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,one-time,94134,10,11,18.3,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,return,94112,10,11,15.9,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,one-time,94112,9,10,14.9,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6,return,94110,9,10,13.9,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,return,94112,9,10,14.6,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8,one-time,94132,9,10,14.6,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9,return,94122,9,10,14.6,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
10,one-time,94122,9,11,15.6,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
11,one-time,94124,9,10,14.6,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,one-time,94110,9,10,14.8,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
13,one-time,94124,10,11,16.1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
14,one-time,94110,10,11,16.7,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
15,one-time,94112,10,11,15.7,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
16,return,94118,9,10,14.6,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
17,return,94114,10,11,15.0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,one-time,94110,10,11,16.0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
19,return,94112,9,10,14.5,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
20,one-time,94134,10,11,17.1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,return,94131,10,11,16.6,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
22,return,94103,9,10,14.7,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,return,94110,9,10,15.4,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,return,94103,10,11,16.1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,one-time,94103,10,11,16.3,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
26,one-time,94112,9,10,14.8,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
27,one-time,94806,9,10,14.9,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
28,return,94127,9,10,14.8,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,one-time,94110,9,10,14.5,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,one-time,94131,6,7,11.6,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
156,return,94115,6,7,11.2,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
157,return,94124,6,7,12.3,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
158,one-time,94132,6,7,12.0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
159,one-time,94118,5,6,10.2,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
160,one-time,94114,9,10,15.0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
161,one-time,94132,7,8,12.9,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
162,return,94112,7,8,12.8,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
163,one-time,94118,7,8,12.8,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
164,one-time,94114,8,8,12.9,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
165,return,94134,7,8,12.2,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
166,one-time,94112,7,8,12.9,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
167,one-time,94110,8,9,14.3,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
168,one-time,94112,8,9,13.5,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
169,one-time,94115,8,9,13.2,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
170,one-time,94124,7,8,12.6,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
171,return,94112,9,10,14.5,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
172,one-time,94124,10,11,15.9,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
173,one-time,94124,2,3,8.3,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
174,return,94107,9,10,15.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
175,one-time,94103,10,11,16.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
176,one-time,94118,2,3,8.2,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
177,one-time,94110,10,11,17.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
178,one-time,94112,10,11,18.1,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
179,return,94102,10,11,17.5,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
180,one-time,94110,10,11,18.3,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
181,one-time,94132,10,11,16.9,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
182,one-time,94132,10,11,17.8,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
183,one-time,94110,10,11,18.1,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
184,one-time,94124,10,11,15.9,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0

In [5]:
# Convert Date of Birth and agency enrollment date to Datetime
students_df['csp_enrollment_date'] = pd.to_datetime(students_df['csp_enrollment_date'])
students_df.dtypes

participant_id                        int64
distinct_program_count               object
date_of_birth                        object
city                                 object
home_zip_code                         int64
race_ethnicity                       object
gender                               object
school_attending                     object
school_entry_date                    object
grade_level_fy18_19                   int64
grade_level_fy19_20                   int64
csp_enrollment_date          datetime64[ns]
csp_approx_enrollment_age           float64
dtype: object

In [6]:
# drop unneccesary columns 
students_df = students_df.drop(columns = ['participant_id', 'date_of_birth', "school_entry_date", "grade_level_fy18_19", "grade_level_fy19_20", ])

In [7]:
# # Create a function to change Gender to Numeric Values
# le = LabelEncoder()
# students_df['gender'] = le.fit_transform(students_df['gender'])

In [8]:
#Check to see which Encodings match the genders
# Gender Coding: 2 = Male, 1 = Female, 0 = Declined to State, 3 = Transgender
# students_df["gender"].value_counts()

In [9]:
# # Chose "gender, "city","home_zip_code","race_ethnicity","gender","school_attending",
# "school_entry_date","csp_enrollment_date","csp_approx_enrollment_age"
# # of classes attended because those are the inputs we want to be able to put in to see whether a student
# # would come to multiple City Surf Programs - this is a strong indicator of whether they enjoy
# the program

# # This would help enable the organization to see if they are missing certain populations, or have a tendency 
# # to specialize really well in a specific demographic or grade and help CSP improve outreach and give a breakdown of 
# # population served. It can show what populations CSP is missing, or which populations may like city surf better than others.

# Encode columns that are strings
encode_columns=["gender",
                "city",
                "race_ethnicity",
                "school_attending",
                "csp_enrollment_date"]

# Convert values to numeric
# source: https://stackoverflow.com/questions/30384995/randomforestclassfier-fit-valueerror-could-not-convert-string-to-float
students_df = pd.get_dummies(students_df,columns= encode_columns)
students_df.head()

,distinct_program_count,home_zip_code,grade_level_fy18_19,grade_level_fy19_20,csp_approx_enrollment_age,gender_Declined/Not Stated,gender_Female,gender_Male,gender_Transgender,city_Daly City,...,csp_enrollment_date_2019-04-18 00:00:00,csp_enrollment_date_2019-04-19 00:00:00,csp_enrollment_date_2019-05-10 00:00:00,csp_enrollment_date_2019-05-14 00:00:00,csp_enrollment_date_2019-05-30 00:00:00,csp_enrollment_date_2019-05-31 00:00:00,csp_enrollment_date_2019-06-03 00:00:00,csp_enrollment_date_2019-07-29 00:00:00,csp_enrollment_date_2019-08-05 00:00:00,csp_enrollment_date_2019-08-06 00:00:00
0,return,94103,9,10,14.6,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,one-time,94116,10,11,15.5,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,one-time,94110,10,11,17.2,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,one-time,94134,10,11,18.3,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,return,94112,10,11,15.9,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
students_df.shape

(185, 69)

In [11]:
# Create our target
y = students_df['likely_to_return?']

# Create our features
X = students_df.drop(columns="likely_to_return?" )

In [12]:

# Create X_train, X_test, y_train, y_test
# Split the X and y into X_train, X_test, y_train, y_test
# Use the train_test_split function to create training and testing subsets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(138, 68)
(138,)
(47, 68)
(47,)

# Random Forest Classifier

In [13]:
# want to see which variable has the most influence
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

In [14]:
# Fitting the model
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
rf_model = rf_model.fit(X_train_scaled, y_train)

In [15]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)
predictions

array(['one-time', 'return', 'one-time', 'one-time', 'one-time', 'return',
       'one-time', 'one-time', 'return', 'one-time', 'one-time',
       'one-time', 'one-time', 'one-time', 'one-time', 'one-time',
       'one-time', 'return', 'one-time', 'one-time', 'one-time',
       'one-time', 'one-time', 'one-time', 'one-time', 'one-time',
       'one-time', 'one-time', 'one-time', 'one-time', 'one-time',
       'one-time', 'one-time', 'one-time', 'return', 'one-time',
       'one-time', 'return', 'one-time', 'one-time', 'one-time',
       'one-time', 'one-time', 'one-time', 'return', 'one-time',
       'one-time'], dtype=object)

In [16]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0           32            1
Actual 1            8            6

In [17]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [18]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           32            1
Actual 1            8            6

Accuracy Score : 0.8085106382978723
Classification Report
              precision    recall  f1-score   support

    one-time       0.80      0.97      0.88        33
      return       0.86      0.43      0.57        14

    accuracy                           0.81        47
   macro avg       0.83      0.70      0.72        47
weighted avg       0.82      0.81      0.79        47

In [19]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([1.28119951e-01, 5.20294299e-02, 5.00118117e-02, 1.41014482e-01,
       4.28177612e-03, 2.88096268e-02, 2.71567544e-02, 7.94372856e-04,
       3.38064365e-03, 4.05693642e-04, 5.45438121e-03, 1.24748566e-02,
       4.51231552e-02, 4.26584990e-02, 1.20728542e-02, 2.22517380e-02,
       5.02914379e-03, 4.90495526e-03, 8.61105949e-03, 4.69154744e-04,
       3.28268321e-04, 0.00000000e+00, 1.23395027e-04, 1.19039219e-02,
       2.02515757e-04, 1.19201258e-05, 4.31754732e-03, 0.00000000e+00,
       1.60735646e-04, 3.63147074e-03, 1.18234660e-03, 3.98760586e-03,
       2.14950308e-02, 8.27515295e-03, 6.80417927e-04, 1.91567566e-02,
       8.51870938e-04, 4.93045688e-04, 3.56452671e-04, 6.63147531e-04,
       4.86361694e-03, 1.92129053e-02, 9.25326898e-03, 1.77393421e-02,
       1.59085125e-02, 9.14318827e-03, 8.65810000e-03, 7.58532153e-03,
       9.49803721e-03, 3.08832348e-02, 0.00000000e+00, 8.69179534e-02,
       2.42940519e-02, 2.89460897e-03, 1.51777918e-02, 5.98563498e-03,
       1.27107761e-02, 2.59807103e-03, 8.64926344e-04, 1.61511227e-03,
       7.93559749e-03, 4.53329453e-03, 1.85405527e-03, 8.91383542e-05,
       2.17891106e-03, 1.10128956e-03, 2.69095573e-03, 2.09363614e-02])

In [20]:
# We can sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.1410144816800065, 'csp_approx_enrollment_age'),
 (0.12811995144603483, 'home_zip_code'),
 (0.08691795342016824, 'csp_enrollment_date_2019-02-11 00:00:00'),
 (0.052029429907611814, 'grade_level_fy18_19'),
 (0.05001181173852448, 'grade_level_fy19_20'),
 (0.04512315517451447, 'race_ethnicity_Asian/Pacific Islander'),
 (0.042658499039852874, 'race_ethnicity_Caucasian/ White'),
 (0.030883234762617756, 'csp_enrollment_date_2018-12-14 00:00:00'),
 (0.028809626802201404, 'gender_Female'),
 (0.02715675442387752, 'gender_Male'),
 (0.02429405191862435, 'csp_enrollment_date_2019-02-13 00:00:00'),
 (0.02225173803892497, 'race_ethnicity_Hispanic/Latinx'),
 (0.021495030768539317, 'school_attending_Lowell HS'),
 (0.020936361356619745, 'csp_enrollment_date_2019-08-06 00:00:00'),
 (0.01921290532098389, 'csp_enrollment_date_2018-10-02 00:00:00'),
 (0.019156756596134028, 'school_attending_Mission HS'),
 (0.017739342062375207, 'csp_enrollment_date_2018-10-04 00:00:00'),
 (0.01590851248062795, 'csp_enrollment_date_2018-10-10 00:00:00'),
 (0.015177791817574811, 'csp_enrollment_date_2019-02-15 00:00:00'),
 (0.012710776112997674, 'csp_enrollment_date_2019-03-22 00:00:00'),
 (0.012474856641472673, 'race_ethnicity_African American/Other Black'),
 (0.012072854187056769, 'race_ethnicity_Declined to state/Other'),
 (0.01190392190736955, 'school_attending_Giannini (A.P.) MS'),
 (0.009498037212603153, 'csp_enrollment_date_2018-11-29 00:00:00'),
 (0.009253268982884554, 'csp_enrollment_date_2018-10-03 00:00:00'),
 (0.009143188272255496, 'csp_enrollment_date_2018-11-09 00:00:00'),
 (0.008658099995692427, 'csp_enrollment_date_2018-11-15 00:00:00'),
 (0.00861105948776338, 'school_attending_Aptos MS'),
 (0.008275152950620071, 'school_attending_Marina MS'),
 (0.007935597493872033, 'csp_enrollment_date_2019-05-10 00:00:00'),
 (0.0075853215269488855, 'csp_enrollment_date_2018-11-16 00:00:00'),
 (0.005985634979271079, 'csp_enrollment_date_2019-03-07 00:00:00'),
 (0.005454381205304383, 'city_San Francisco'),
 (0.005029143788356798, 'race_ethnicity_Middle Eastern/Arab'),
 (0.004904955263496506, 'race_ethnicity_Multiracial/Multiethnic'),
 (0.004863616942495967, 'school_attending_Wells (Ida B) HS'),
 (0.00453329452705638, 'csp_enrollment_date_2019-05-14 00:00:00'),
 (0.004317547319047045, 'school_attending_Independence HS'),
 (0.004281776124800255, 'gender_Declined/Not Stated'),
 (0.003987605863183794, 'school_attending_Lincoln (Abraham) HS'),
 (0.0036314707384601653, 'school_attending_Leadership HS Charter'),
 (0.0033806436464885376, 'city_Daly City'),
 (0.0028946089729729196, 'csp_enrollment_date_2019-02-14 00:00:00'),
 (0.0026909557341624818, 'csp_enrollment_date_2019-08-05 00:00:00'),
 (0.002598071028095115, 'csp_enrollment_date_2019-04-05 00:00:00'),
 (0.0021789110633061103, 'csp_enrollment_date_2019-06-03 00:00:00'),
 (0.0018540552713376373, 'csp_enrollment_date_2019-05-30 00:00:00'),
 (0.0016151122676902412, 'csp_enrollment_date_2019-04-19 00:00:00'),
 (0.0011823466038561434, 'school_attending_Lilienthal (Claire) K-8'),
 (0.0011012895594939385, 'csp_enrollment_date_2019-07-29 00:00:00'),
 (0.0008649263444199984, 'csp_enrollment_date_2019-04-18 00:00:00'),
 (0.0008518709383774012, 'school_attending_Other'),
 (0.0007943728563798937, 'gender_Transgender'),
 (0.0006804179272694082, 'school_attending_Milk (Harvey) Civil Right ES'),
 (0.0006631475305438156, 'school_attending_Roosevelt MS'),
 (0.00049304568846985, 'school_attending_Parks (Rosa) ES'),
 (0.0004691547442496477, 'school_attending_Balboa HS'),
 (0.0004056936416080264, 'city_Richmond'),
 (0.00035645267105500805, 'school_attending_Rooftop K-8'),
 (0.0003282683209506204, 'school_attending_Carmichael (Bessie) K-8'),
 (0.00020251575697396282, 'school_attending_Glen Park ES'),
 (0.00016073564593301474, 'school_attending_Lakeshore ES'),
 (0.00012339502749163933, 'school_attending_Creative Arts K-8 Charter'),
 (8.913835421518759e-05, 'csp_enrollment_date_2019-05-31 00:00:00'),
 (1.1920125836242582e-05, 'school_attending_Hoover (Herbert) MS'),
 (0.0, 'school_attending_KIPP Bayview Academy MS Charter'),
 (0.0, 'school_attending_Carver (Dr George W) ES'),
 (0.0, 'csp_enrollment_date_2019-01-07 00:00:00')]